doctype html
html(lang="en-GB")
    head
        meta(charset="UTF-8")

        title Edge CMS
    body
        block content

        script(src="/js/cms-vendor.js")
        script(src="/js/cms.js")
