doctype html
html(lang="en-GB")
    head
        meta(charset="UTF-8")

        base(href="/admin/")

        title Edge CMS

        link(rel="stylesheet", href="/css/admin.css")
    body
        header
            p Admin

        block content

        script(src="/js/cms-vendor.js")
        //script(src="/js/cms-backbone.js")
        script(src="/js/cms-angular.js")
