include /mixins/_content
include /mixins/content/_text
include /mixins/content/_html
include /mixins/content/_image
include /mixins/_content-for-region-name

doctype html
html(lang="en-GB")
    head
        meta(charset="UTF-8")

        if page
            title #{page.attributes.title} - Edge CMS
        else
            title Edge CMS
    body
        block content
