p Page Detail

form(ng-submit="updatePage()")
    dl
        dt Id
        dd: a(ui-sref="pageDetail({id: page.id})") {{page.id}}

        dt Title {{page.title}}
        dd: input(name="title", ng-model="page.title")

        dt Url
        dd {{page.url}}

        dt Regions
        dd
            ul
                li(ng-repeat="region in page.regions")
                    dt Id
                    dd: a(ui-sref="regionDetail({id: region.id})") {{region.id}}

                    dt Name
                    dd {{region.name}}

                    dt Content
                    dd
                        ul
                            li(ng-repeat="content in region.content")
                                dt Id
                                dd: a(ui-sref="contentDetail({id: content.id})") {{content.id}}

                                dt Type
                                dd {{content.type}}

                                dt Content
                                dd {{content.data | json}}


    button(type="submit") Save
