extends /layout/main

block content

    h1 Example
    h2 #{page.attributes.title}

    each region in page.attributes.regions
        div
            h2= region.name
            p
                + content-for-region-name(region.name, page)
